# Secrets
token.json
credentials.json

# Folders
downloaded_videos
EditedVideos
downloads

# Env
.venv
.env

# videos & Audios
*.wav
*.mp4
*.mp3

# files
*.txt
*.xlsx

# images
*.png
*.jpg

# Logs
*.json
*.log

# Cache
__pycache__/